[submodule "ActionBarSherlock"]
	path = ActionBarSherlock
	url = https://github.com/JakeWharton/ActionBarSherlock.git
[submodule "TimesSquare"]
	path = TimesSquare
	url = https://github.com/square/android-times-square.git
[submodule "HoloGraphLibrary"]
	path = HoloGraphLibrary
	url = https://bitbucket.org/danielnadeau/holographlibrary.git
[submodule "ViewPagerIndicator"]
	path = ViewPagerIndicator
	url = https://github.com/JakeWharton/Android-ViewPagerIndicator.git
