[submodule "ActionBarSherlock"]
	path = ActionBarSherlock
	url = https://github.com/JakeWharton/ActionBarSherlock.git
[submodule "ViewPagerIndicator"]
	path = ViewPagerIndicator
	url = https://github.com/JakeWharton/Android-ViewPagerIndicator.git
[submodule "DateTimePicker"]
	path = DateTimePicker
	url = https://github.com/biboune/datetimepicker.git
[submodule "HoloColorPicker"]
	path = HoloColorPicker
	url = https://github.com/LarsWerkman/HoloColorPicker.git
[submodule "NineOldAndroids"]
	path = NineOldAndroids
	url = https://github.com/JakeWharton/NineOldAndroids.git
